In [16]:
import pandas as pd

In [18]:
w

         day  temperature  windspeed  event
0  1/1/20017           32          6   Rain
1  2/1/20017           35          7  Sunny
2  3/1/20017           28          2   Snow
3  4/1/20017           24          7   Rain
4  5/1/20017           92          4  Sunny
5  6/1/20017           31          2   Rain

In [19]:
df.head()

         day  temperature  windspeed  event
0  1/1/20017           32          6   Rain
1  2/1/20017           35          7  Sunny
2  3/1/20017           28          2   Snow
3  4/1/20017           24          7   Rain
4  5/1/20017           92          4  Sunny

In [20]:
df.tail()

         day  temperature  windspeed  event
1  2/1/20017           35          7  Sunny
2  3/1/20017           28          2   Snow
3  4/1/20017           24          7   Rain
4  5/1/20017           92          4  Sunny
5  6/1/20017           31          2   Rain

In [25]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [28]:
df[1:3]

         day  temperature  windspeed  event
1  2/1/20017           35          7  Sunny
2  3/1/20017           28          2   Snow

In [29]:
df["day"]

0    1/1/20017
1    2/1/20017
2    3/1/20017
3    4/1/20017
4    5/1/20017
5    6/1/20017
Name: day, dtype: object

In [30]:
type(df['day'])

pandas.core.series.Series

In [32]:
df[['day','temperature']]

         day  temperature
0  1/1/20017           32
1  2/1/20017           35
2  3/1/20017           28
3  4/1/20017           24
4  5/1/20017           92
5  6/1/20017           31

In [33]:
df['temperature'].max()

np.int64(92)

In [36]:
df['temperature'].min()

np.int64(24)

In [35]:
df['temperature']>32

0    False
1     True
2    False
3    False
4     True
5    False
Name: temperature, dtype: bool

In [37]:
df['day'][df['temperature']==df['temperature'].max()]

4    5/1/20017
Name: day, dtype: object

In [40]:
df[df['temperature']==df['temperature'].max()]

         day  temperature  windspeed  event
4  5/1/20017           92          4  Sunny

In [44]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     40.333333   4.666667
std      25.586455   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      34.250000   6.750000
max      92.000000   7.000000

In [45]:
df.set_index('day')

           temperature  windspeed  event
day
1/1/20017           32          6   Rain
2/1/20017           35          7  Sunny
3/1/20017           28          2   Snow
4/1/20017           24          7   Rain
5/1/20017           92          4  Sunny
6/1/20017           31          2   Rain

In [50]:
df.loc["1/1/20017":"4/1/20017"]

         day  temperature  windspeed  event
2  3/1/20017           28          2   Snow
3  4/1/20017           24          7   Rain
4  5/1/20017           92          4  Sunny

In [51]:
df.set_index('day',inplace=True)
df

           temperature  windspeed  event
day
1/1/20017           32          6   Rain
2/1/20017           35          7  Sunny
3/1/20017           28          2   Snow
4/1/20017           24          7   Rain
5/1/20017           92          4  Sunny
6/1/20017           31          2   Rain

In [52]:
df.index

Index(['1/1/20017', '2/1/20017', '3/1/20017', '4/1/20017', '5/1/20017',
       '6/1/20017'],
      dtype='object', name='day')

In [53]:
df[df['weather']=='Clear']

KeyError: 'weather'