In [13]:
import pandas as pd

csv = pd.read_csv("C:\\Users\\BASANT\\Python\\Panda\\CSV\\customers.csv")

print(csv)

    Index      Customer Id First Name Last Name  \
0       1  DD37Cf93aecA6Dc     Sheryl    Baxter
1       2  1Ef7b82A4CAAD10    Preston       NaN
2       3  6F94879bDAfE5a6        Roy     Berry
3       4  5Cef8BFA16c5e3c        NaN     Olsen
4       5  053d585Ab6b3159     Joanna       NaN
..    ...              ...        ...       ...
95     96  cb8E23e48d22Eae       Karl     Greer
96     97  CeD220bdAaCfaDf       Lynn  Atkinson
97     98  28CDbC0dFe4b1Db       Fred    Guerra
98     99  c23d1D9EE8DEB0A     Yvonne    Farmer
99    100  2354a0E336A91A1   Clarence    Haynes

                            Company               City
0                   Rasmussen Group       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
..                              ...                ...
95                        Carey LLC       East Richard
96            Ware, Burns and Oneal       New Bradview
97                    Schmitt-Jones         Ortegaland
98               Fitzgerald-Harrell    Lake Elijahview
99               Le, Nash and Cross          Judymouth

[100 rows x 6 columns]

In [15]:
csv.dropna()

,Index,Customer Id,First Name,Last Name,Company,City
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
7,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport
8,9,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [16]:
import pandas as pd

csv2 = pd.read_csv("C:\\Users\\BASANT\\Python\\Panda\\CSV\\customers.csv")

csv2.dropna(axis=1)

    Index
0       1
1       2
2       3
3       4
4       5
..    ...
95     96
96     97
97     98
98     99
99    100

[100 rows x 1 columns]

In [31]:
import pandas as pd

csv3 = pd.read_csv("C:\\Users\\BASANT\\Python\\Panda\\CSV\\customers.csv")

csv3.dropna(how="all")

,Index,Customer Id,First Name,Last Name,Company,City
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,2.0,1Ef7b82A4CAAD10,Preston,NaN,Vega-Gentry,East Jimmychester
2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,4.0,5Cef8BFA16c5e3c,NaN,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,5.0,053d585Ab6b3159,Joanna,NaN,"Martin, Lang and Andrade",West Priscilla
5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,7.0,EA4d384DfDbBf77,Darren,NaN,"Lester, Woodard and Mitchell",Lake Ana
8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [19]:
missing = csv3.loc[7]

In [20]:
missing

Index            8
Customer Id    NaN
First Name     NaN
Last Name      NaN
Company        NaN
City           NaN
Name: 7, dtype: object

In [21]:
csv3.iloc[7]

Index            8
Customer Id    NaN
First Name     NaN
Last Name      NaN
Company        NaN
City           NaN
Name: 7, dtype: object

In [27]:
import pandas as pd

csv4= pd.read_csv("C:\\Users\\BASANT\\Python\\Panda\\CSV\\customers.csv")

csv4

,Index,Customer Id,First Name,Last Name,Company,City
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,2.0,1Ef7b82A4CAAD10,Preston,NaN,Vega-Gentry,East Jimmychester
2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,4.0,5Cef8BFA16c5e3c,NaN,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,5.0,053d585Ab6b3159,Joanna,NaN,"Martin, Lang and Andrade",West Priscilla
5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,7.0,EA4d384DfDbBf77,Darren,NaN,"Lester, Woodard and Mitchell",Lake Ana
7,8.0,NaN,NaN,NaN,NaN,NaN
8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth
23,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
import pandas as pd

csv6= pd.read_csv("C:\\Users\\BASANT\\Python\\Panda\\CSV\\customers.csv")

csv6.dropna(how="all")

,Index,Customer Id,First Name,Last Name,Company,City
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,2.0,1Ef7b82A4CAAD10,Preston,NaN,Vega-Gentry,East Jimmychester
2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,4.0,5Cef8BFA16c5e3c,NaN,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,5.0,053d585Ab6b3159,Joanna,NaN,"Martin, Lang and Andrade",West Priscilla
5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,7.0,EA4d384DfDbBf77,Darren,NaN,"Lester, Woodard and Mitchell",Lake Ana
8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [34]:
csv6.to_csv("customersupdated.csv")

In [35]:
csv6

,Index,Customer Id,First Name,Last Name,Company,City
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,2.0,1Ef7b82A4CAAD10,Preston,NaN,Vega-Gentry,East Jimmychester
2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,4.0,5Cef8BFA16c5e3c,NaN,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,5.0,053d585Ab6b3159,Joanna,NaN,"Martin, Lang and Andrade",West Priscilla
5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,7.0,EA4d384DfDbBf77,Darren,NaN,"Lester, Woodard and Mitchell",Lake Ana
7,NaN,NaN,NaN,NaN,NaN,NaN
8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth
23,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
csv6.dropna()

,Index,Customer Id,First Name,Last Name,Company,City
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [40]:
import pandas as pd

csv7= pd.read_csv("C:\\Users\\BASANT\\Python\\Panda\\CSV\\customers.csv")

csv7.dropna(subset=["Company"])

,Index,Customer Id,First Name,Last Name,Company,City
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,2.0,1Ef7b82A4CAAD10,Preston,NaN,Vega-Gentry,East Jimmychester
2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,4.0,5Cef8BFA16c5e3c,NaN,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,7.0,EA4d384DfDbBf77,Darren,NaN,"Lester, Woodard and Mitchell",Lake Ana
8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [42]:
import pandas as pd

var = pd.read_csv("C:\\Users\\BASANT\\Python\\Panda\\customersupdated.csv")

In [43]:
var

,Unnamed: 0,Index,Customer Id,First Name,Last Name,Company,City
0,0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,1,2.0,1Ef7b82A4CAAD10,Preston,NaN,Vega-Gentry,East Jimmychester
2,2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,3,4.0,5Cef8BFA16c5e3c,NaN,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,4,5.0,053d585Ab6b3159,Joanna,NaN,"Martin, Lang and Andrade",West Priscilla
5,5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,6,7.0,EA4d384DfDbBf77,Darren,NaN,"Lester, Woodard and Mitchell",Lake Ana
7,7,NaN,NaN,NaN,NaN,NaN,NaN
8,8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [44]:
var.dropna(subset=["Company"])

,Unnamed: 0,Index,Customer Id,First Name,Last Name,Company,City
0,0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,1,2.0,1Ef7b82A4CAAD10,Preston,NaN,Vega-Gentry,East Jimmychester
2,2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,3,4.0,5Cef8BFA16c5e3c,NaN,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,4,5.0,053d585Ab6b3159,Joanna,NaN,"Martin, Lang and Andrade",West Priscilla
5,5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,6,7.0,EA4d384DfDbBf77,Darren,NaN,"Lester, Woodard and Mitchell",Lake Ana
8,8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [47]:
var.dropna(thresh=2)

,Unnamed: 0,Index,Customer Id,First Name,Last Name,Company,City
0,0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,1,2.0,1Ef7b82A4CAAD10,Preston,NaN,Vega-Gentry,East Jimmychester
2,2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,3,4.0,5Cef8BFA16c5e3c,NaN,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,4,5.0,053d585Ab6b3159,Joanna,NaN,"Martin, Lang and Andrade",West Priscilla
5,5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,6,7.0,EA4d384DfDbBf77,Darren,NaN,"Lester, Woodard and Mitchell",Lake Ana
8,8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [48]:
import pandas as pd 

var2 = pd.read_csv("C:\\Users\\BASANT\\Python\\Panda\\customersupdated.csv")

In [49]:
var2

,Unnamed: 0,Index,Customer Id,First Name,Last Name,Company,City
0,0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,1,2.0,1Ef7b82A4CAAD10,Preston,NaN,Vega-Gentry,East Jimmychester
2,2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,3,4.0,5Cef8BFA16c5e3c,NaN,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,4,5.0,053d585Ab6b3159,Joanna,NaN,"Martin, Lang and Andrade",West Priscilla
5,5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,6,7.0,EA4d384DfDbBf77,Darren,NaN,"Lester, Woodard and Mitchell",Lake Ana
7,7,NaN,NaN,NaN,NaN,NaN,NaN
8,8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [50]:
var2.fillna("python")

,Unnamed: 0,Index,Customer Id,First Name,Last Name,Company,City
0,0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,1,2.0,1Ef7b82A4CAAD10,Preston,python,Vega-Gentry,East Jimmychester
2,2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,3,4.0,5Cef8BFA16c5e3c,python,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,4,5.0,053d585Ab6b3159,Joanna,python,"Martin, Lang and Andrade",West Priscilla
5,5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,6,7.0,EA4d384DfDbBf77,Darren,python,"Lester, Woodard and Mitchell",Lake Ana
7,7,python,python,python,python,python,python
8,8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [52]:
import pandas as pd 

var3 = pd.read_csv("C:\\Users\\BASANT\\Python\\Panda\\customersupdated.csv")

var3.fillna({"Company":"Khali"})

,Unnamed: 0,Index,Customer Id,First Name,Last Name,Company,City
0,0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,1,2.0,1Ef7b82A4CAAD10,Preston,NaN,Vega-Gentry,East Jimmychester
2,2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,3,4.0,5Cef8BFA16c5e3c,NaN,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,4,5.0,053d585Ab6b3159,Joanna,NaN,"Martin, Lang and Andrade",West Priscilla
5,5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,6,7.0,EA4d384DfDbBf77,Darren,NaN,"Lester, Woodard and Mitchell",Lake Ana
7,7,NaN,NaN,NaN,NaN,Khali,NaN
8,8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [55]:
var3.fillna(method="ffill")

C:\Users\BASANT\AppData\Local\Temp\ipykernel_31608\2665856796.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var3.fillna(method="ffill")

,Unnamed: 0,Index,Customer Id,First Name,Last Name,Company,City
0,0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,1,2.0,1Ef7b82A4CAAD10,Preston,Baxter,Vega-Gentry,East Jimmychester
2,2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,3,4.0,5Cef8BFA16c5e3c,Roy,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,4,5.0,053d585Ab6b3159,Joanna,Olsen,"Martin, Lang and Andrade",West Priscilla
5,5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,6,7.0,EA4d384DfDbBf77,Darren,Downs,"Lester, Woodard and Mitchell",Lake Ana
7,7,7.0,EA4d384DfDbBf77,Darren,Downs,"Lester, Woodard and Mitchell",Lake Ana
8,8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [56]:
import pandas as pd 

var4 = pd.read_csv("C:\\Users\\BASANT\\Python\\Panda\\customersupdated.csv")

var4.fillna(method="bfill")

C:\Users\BASANT\AppData\Local\Temp\ipykernel_31608\2701609718.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var4.fillna(method="bfill")

,Unnamed: 0,Index,Customer Id,First Name,Last Name,Company,City
0,0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,1,2.0,1Ef7b82A4CAAD10,Preston,Berry,Vega-Gentry,East Jimmychester
2,2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,3,4.0,5Cef8BFA16c5e3c,Joanna,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,4,5.0,053d585Ab6b3159,Joanna,Downs,"Martin, Lang and Andrade",West Priscilla
5,5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,6,7.0,EA4d384DfDbBf77,Darren,Meyers,"Lester, Woodard and Mitchell",Lake Ana
7,7,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
8,8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [57]:
import pandas as pd 

var4 = pd.read_csv("C:\\Users\\BASANT\\Python\\Panda\\customersupdated.csv")

var4

,Unnamed: 0,Index,Customer Id,First Name,Last Name,Company,City
0,0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,1,2.0,1Ef7b82A4CAAD10,Preston,NaN,Vega-Gentry,East Jimmychester
2,2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,3,4.0,5Cef8BFA16c5e3c,NaN,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,4,5.0,053d585Ab6b3159,Joanna,NaN,"Martin, Lang and Andrade",West Priscilla
5,5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,6,7.0,EA4d384DfDbBf77,Darren,NaN,"Lester, Woodard and Mitchell",Lake Ana
7,7,NaN,NaN,NaN,NaN,NaN,NaN
8,8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [59]:
var4.fillna(method="bfill", axis = 1)

C:\Users\BASANT\AppData\Local\Temp\ipykernel_31608\3314675426.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var4.fillna(method="bfill", axis = 1)
C:\Users\BASANT\AppData\Local\Temp\ipykernel_31608\3314675426.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  var4.fillna(method="bfill", axis = 1)

,Unnamed: 0,Index,Customer Id,First Name,Last Name,Company,City
0,0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,1,2.0,1Ef7b82A4CAAD10,Preston,Vega-Gentry,Vega-Gentry,East Jimmychester
2,2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,3,4.0,5Cef8BFA16c5e3c,Olsen,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,4,5.0,053d585Ab6b3159,Joanna,"Martin, Lang and Andrade","Martin, Lang and Andrade",West Priscilla
5,5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,6,7.0,EA4d384DfDbBf77,Darren,"Lester, Woodard and Mitchell","Lester, Woodard and Mitchell",Lake Ana
7,7.0,NaN,NaN,NaN,NaN,NaN,NaN
8,8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [60]:
import pandas as pd 

var5 = pd.read_csv("C:\\Users\\BASANT\\Python\\Panda\\customersupdated.csv")

var5

,Unnamed: 0,Index,Customer Id,First Name,Last Name,Company,City
0,0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,1,2.0,1Ef7b82A4CAAD10,Preston,NaN,Vega-Gentry,East Jimmychester
2,2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,3,4.0,5Cef8BFA16c5e3c,NaN,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,4,5.0,053d585Ab6b3159,Joanna,NaN,"Martin, Lang and Andrade",West Priscilla
5,5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,6,7.0,EA4d384DfDbBf77,Darren,NaN,"Lester, Woodard and Mitchell",Lake Ana
7,7,NaN,NaN,NaN,NaN,NaN,NaN
8,8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [61]:
var5.fillna(12,inplace=True)

In [62]:
var5

,Unnamed: 0,Index,Customer Id,First Name,Last Name,Company,City
0,0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,1,2.0,1Ef7b82A4CAAD10,Preston,12,Vega-Gentry,East Jimmychester
2,2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,3,4.0,5Cef8BFA16c5e3c,12,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,4,5.0,053d585Ab6b3159,Joanna,12,"Martin, Lang and Andrade",West Priscilla
5,5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,6,7.0,EA4d384DfDbBf77,Darren,12,"Lester, Woodard and Mitchell",Lake Ana
7,7,12.0,12,12,12,12,12
8,8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [63]:
import pandas as pd 

var6 = pd.read_csv("C:\\Users\\BASANT\\Python\\Panda\\customersupdated.csv")

var6

,Unnamed: 0,Index,Customer Id,First Name,Last Name,Company,City
0,0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,1,2.0,1Ef7b82A4CAAD10,Preston,NaN,Vega-Gentry,East Jimmychester
2,2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,3,4.0,5Cef8BFA16c5e3c,NaN,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,4,5.0,053d585Ab6b3159,Joanna,NaN,"Martin, Lang and Andrade",West Priscilla
5,5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,6,7.0,EA4d384DfDbBf77,Darren,NaN,"Lester, Woodard and Mitchell",Lake Ana
7,7,NaN,NaN,NaN,NaN,NaN,NaN
8,8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth

In [65]:
var6.fillna("pyhton",limit = 1)

,Unnamed: 0,Index,Customer Id,First Name,Last Name,Company,City
0,0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard
1,1,2.0,1Ef7b82A4CAAD10,Preston,pyhton,Vega-Gentry,East Jimmychester
2,2,3.0,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough
3,3,4.0,5Cef8BFA16c5e3c,pyhton,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview
4,4,5.0,053d585Ab6b3159,Joanna,NaN,"Martin, Lang and Andrade",West Priscilla
5,5,6.0,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough
6,6,7.0,EA4d384DfDbBf77,Darren,NaN,"Lester, Woodard and Mitchell",Lake Ana
7,7,pyhton,pyhton,NaN,NaN,pyhton,pyhton
8,8,9.0,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad
9,9,10.0,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg
10,10,11.0,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville
11,11,12.0,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea
12,12,13.0,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth
13,13,14.0,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg
14,14,15.0,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury
15,15,16.0,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire
16,16,17.0,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad
17,17,18.0,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie
18,18,19.0,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview
19,19,20.0,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire
20,20,90.0,37Ec4B395641c1E,Lori,Flowers,Decker-Mcknight,North Joeburgh
21,21,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview
22,22,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth