In [5]:
import pandas as pd

d={"Name":['Harish','Phalguni','Arjun','Manik','Subhash'],"Roll":[1,2,3,4,5]}

df = pd.DataFrame(d)

print(df)

       Name  Roll
0    Harish     1
1  Phalguni     2
2     Arjun     3
3     Manik     4
4   Subhash     5

In [15]:
import pandas as pd

d={"Name":['Harish','Phalguni','Arjun','Manik','Subhash'],"Roll":[1,2,3,4,5]}

df = pd.DataFrame(d,columns=["Name"],index=['a','s','d','f','g'])

print(df)

print(df["Name"]['s'])

       Name
a    Harish
s  Phalguni
d     Arjun
f     Manik
g   Subhash
Phalguni