In [11]:
import pandas as pd
import random

df = pd.read_csv("industry.csv")
l = [random.randint(1, 100) for _ in range(43)]

df

df.insert(1,"Random",l)

In [12]:
df

                         Industry  Random
0              Accounting/Finance     100
1    Advertising/Public Relations      61
2              Aerospace/Aviation      64
3   Arts/Entertainment/Publishing      51
4                      Automotive      11
5                Banking/Mortgage       9
6            Business Development     100
7            Business Opportunity      15
8         Clerical/Administrative      96
9         Construction/Facilities      76
10                 Consumer Goods      73
11               Customer Service      12
12             Education/Training      36
13               Energy/Utilities      83
14                    Engineering      56
15            Government/Military      18
16                          Green      71
17                     Healthcare      60
18             Hospitality/Travel      37
19                Human Resources       6
20       Installation/Maintenance      96
21                      Insurance      41
22                       Internet      25
23                Job Search Aids       2
24       Law Enforcement/Security      88
25                          Legal      86
26           Management/Executive      14
27       Manufacturing/Operations      85
28                      Marketing      44
29           Non-Profit/Volunteer      25
30         Pharmaceutical/Biotech      86
31          Professional Services      36
32             QA/Quality Control      72
33                    Real Estate      45
34        Restaurant/Food Service      56
35                         Retail       3
36                          Sales      44
37               Science/Research      25
38                  Skilled Labor      88
39                     Technology      54
40             Telecommunications     100
41       Transportation/Logistics      12
42                          Other      57

In [13]:
df.to_csv("UpdatedIndustry.csv")